*{
direction: rtl !important;
}

body {padding-top: 10px;padding-bottom: 40px;}
.span12, .container {width: 940px;}
.no_margin_left {margin-left: 0;}
footer h4 {margin-bottom: 8px;}
.logo {
height: 90px;
}
.links a {
	margin-right: 5px;
}

/* product_list - the side bar*/
.product_list {
	margin-top: -5px;
	margin-left: 5px;
	min-height: 500px;
}
.product_list ul {
	list-style: none;
	margin: 0;
}
.product_list > ul > li {
	padding: 8px 8px 8px 0px;
}
.product_list > ul > li + li {
	border-top: 1px solid #EEEEEE;
}
.product_list > ul > li > a {
	text-decoration: none;
}
.product_list > ul > li > a:hover{
	text-decoration: none;
	background: none;
}
.product_list > ul > li ul {
	display: none;
}
.product_list > ul > li a.active {
	font-weight: bold;
}
.product_list > ul > li a.active + ul {
	display: block;
}
.product_list > ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.product_list > ul > li ul > li > a {
	text-decoration: none;
	display: block;
}
.product_list > ul > li ul > li > a.active {
	font-weight: bold;
}


.related_products .span2 {
width:160px;
}


.product_comparison .thumbnail{
border: none;
text-align:center;

}

.product_comparison small{
font-weight: normal;
}

.product_comparison .product_stars {
text-align:center;
margin: 0 auto;
width: 85px;
}
.product_comparison .price_summary td{
text-align:center;
}
.navbar .btn.search_btn {
margin-top:1px;
}

.carousel-inner {
    height: 286px;
}
.carousel-caption {
bottom: -77px;
}

.popular_products .span2{
width:160px;
}


.customer_service {
text-align:right;
font-size:13px;
}

.table td.center_text{
text-align:center;
}

#theme_switcher {
   top:10px;
   left:10px;
   position:fixed;
}
.login-logout-style{
list-style: none;
display: inline-flex;
float: right;
margin-top: 10px;
}


.totop a, .totop a:visited{
	background: #2379E7;
}

.totop a:hover{
	background: #30860E;
}

.totop {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 104400;
}

.totop a, .totop a:visited{
	display: block;
	width: 30px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.totop a:hover {
	color: #fff;
	text-decoration: none;
}

.totop i{
position: absolute;
right: 30%;
top: 25%;
color: white !important;
}

/*Registration and Login Page v1
------------------------------------*/
.reg-page {
	color: #555;
	padding: 12px;
	background: #fefefe;
	border: solid 1px #eee;
	box-shadow: 0 0 3px #eee;
	margin: 0 0 18px;
}

/*Reg Header*/
.reg-header {
	color: #555;
	text-align: center;
	margin-bottom: 20px;
	border-bottom: solid 1px #eee;
}

.reg-header h2 {
	font-size: 20px;
	margin-bottom: 7px;
}

/*Reg Forms*/
.reg-page label {
	color: #777;
	display: inline-block;
}

.margin-bottom-5, 
.margin-bottom-10, 
.margin-bottom-20, 
.margin-bottom-20,
.margin-bottom-25, 
.margin-bottom-30, 
.margin-bottom-35, 
.margin-bottom-40, 
.margin-bottom-50, 
.margin-bottom-60 { 
   clear:both;
}   
.margin-bottom-5 {
   margin-bottom:5px;
}
.margin-bottom-10 {
   margin-bottom:10px;
}
.margin-bottom-20 {
   margin-bottom:20px;
}
.margin-bottom-25 {
   margin-bottom:25px;
}
.margin-bottom-30 {
   margin-bottom:30px;
}
.margin-bottom-35 {
   margin-bottom:35px;
}
.margin-bottom-40 {
   margin-bottom:40px;
}
.margin-bottom-50 {
   margin-bottom:50px;
}
.margin-bottom-60 {
   margin-bottom:60px;
}
.input-group{position:relative;display:table;border-collapse:separate;direction: ltr !important;}.input-group.col{float:none;padding-left:0;padding-right:0;}
.input-group .form-control{width: 94%;margin-bottom:0;}
.input-group-lg>.form-control,.input-group-lg>.input-group-addon,.input-group-lg>.input-group-btn>.btn{height:45px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px;}select.input-group-lg>.form-control,select.input-group-lg>.input-group-addon,select.input-group-lg>.input-group-btn>.btn{height:45px;line-height:45px;}
textarea.input-group-lg>.form-control,textarea.input-group-lg>.input-group-addon,textarea.input-group-lg>.input-group-btn>.btn{height:auto;}
.input-group-sm>.form-control,.input-group-sm>.input-group-addon,.input-group-sm>.input-group-btn>.btn{height:30px;padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px;}select.input-group-sm>.form-control,select.input-group-sm>.input-group-addon,select.input-group-sm>.input-group-btn>.btn{height:30px;line-height:30px;}
textarea.input-group-sm>.form-control,textarea.input-group-sm>.input-group-addon,textarea.input-group-sm>.input-group-btn>.btn{height:auto;}
.input-group-addon,.input-group-btn,.input-group .form-control{display:table-cell;}.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child){border-radius:0;}
.input-group-addon,.input-group-btn{width:1%;white-space:nowrap;vertical-align:middle;}
.input-group-addon{padding:6px 12px;font-size:14px;font-weight:normal;line-height:1;text-align:center;background-color:#eeeeee;border:1px solid #cccccc;border-radius:4px;}.input-group-addon.input-sm{padding:5px 10px;font-size:12px;border-radius:3px;}
.input-group-addon.input-lg{padding:10px 16px;font-size:18px;border-radius:6px;}
.input-group-addon input[type="radio"],.input-group-addon input[type="checkbox"]{margin-top:0;}
.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){border-bottom-right-radius: 0;border-top-right-radius: 0;border-radius: 0;}
.input-group-addon:first-child{border-right: 0;border-radius: 0;-webkit-border-radius: 0;  -moz-border-radius: 0;}
.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btn:not(:first-child){border-bottom-left-radius:0;border-top-left-radius:0;-webkit-border-radius: 0;  -moz-border-radius: 3px;  border-radius: 0;direction: ltr !important;}
.input-group-addon:last-child{border-left:0;}
.input-group-btn{position:relative;white-space:nowrap;}
.input-group-btn>.btn{position:relative;}.input-group-btn>.btn+.btn{margin-left:-4px;}
.input-group-btn>.btn:hover,.input-group-btn>.btn:active{z-index:2;}

.col-md-6{
clear:both;
}
.col-md-6 .btn-u.pull-right{
border-radius: 0;
background: #006dcc;
color: white;
border: 0;
font-weight: bold;
width: 80px;
height: 30px;
margin-bottom: 13px;
}
.col-md-6 .btn-u.pull-right:hover{
background: #0044cc;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}

/*End Of Registration and Login Page v1
------------------------------------*/

.screenlet-body label{
color: rgb(87, 147, 223);
float: right;
margin-top: 12px;
margin-right: 15px;
}

ul #header-bar-headersearch{
border-left:0;
}
ul #header-bar-headersearch:hover{
	background-color:#2c2c2c;
}

.reg-page .input-group a.buttontext{
position: absolute;
left: 5px;
z-index: 1000;
bottom: 8px;
text-decoration:none;
}

.reg-page .input-group input.form-control.searchtxt{
padding-left: 20px;
width: 83%;
}
.reg-page .reg-header h3{
margin-bottom:8px;
}

.reg-page.promote{
background: #f9f9f9;
border: solid 1px rgba(187, 213, 221, 0.66);
box-shadow: 0 0 3px rgba(197, 224, 220, 0.63);
position:relative;
padding-right: 20px;
padding-top: 18px;
}

.triangle-button {
position: absolute;
text-align: center;
font-size: 14px;
font-weight: 600;
line-height: 16px;
top: -1px;
right: -1px;
color: #fff;
overflow: hidden;
height: 36px;
width: 36px;
text-shadow: none;
border-top-right-radius: 3px;
}

.triangle-button:before {
    content: '';
    display: inline-block;
    border-right: 36px solid;
    border-bottom: 36px solid transparent;
    position: absolute;
    top: 0;
    right: 0; }

.triangle-button.red:before {
    border-right-color: #7fb3d4; }
.triangle-button i, .triangle-button .inner {
z-index: 1;
position: absolute;
right: -2px;
top: -2px;
}
.triangle-button i{
color:white !important;
text-decoration:none;
-webkit-transition: all 0.8s ease-in-out;  -moz-transition: all 0.8s ease-in-out;  -o-transition: all 0.8s ease-in-out;  -ms-transition: all 0.8s ease-in-out;  transition: all 0.8s ease-in-out;
/* height: 60%; */
/* width: 60%; */
padding: 5px;
padding-left: 6px;
}
.triangle-button i:hover{-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);}
.halfwidth{
width:50%;
}
.screenlet-body-contactus{
padding: 20px 120px 10px 10px;
}
.margin-right-220{
margin-right:220px;
}

#contactForm{
line-height:30px;
}