<#assign refId = requestAttributes.refId?if_exists >



<#if refId?exists>
<body   >
<form name="reqForm" id="reqForm" action="https://bpm.shaparak.ir/pgwchannel/startpay.mellat" method="POST">
            
                <input type="hidden" name="RefId" value="${refId}">
            
                <input type="hidden" name="requestTransactionUrl" value="https://bpm.shaparak.ir/pgwchannel/startpay.mellat">
            
</form>

<script type="text/javascript">
window.onload = function()
{
    
    
    
    document.forms["reqForm"].submit();
    
    

}

setTimeout('gotoBankSelection()', 20000);

function gotoBankSelection()
{
	location.href = "<@ofbizUrl>main</@ofbizUrl>";
}
</script>

</body>
<#else>
<body>
<p>
${uilabelMap.OrderNoRefrenceID}
</body>
</#if>